<main class="wrapper wrapper-profile">
  <div class="profile-left">
    <div class="card">
      {{{back}}}
    </div>
    {{! back }}
    <div class="card card-avatar">
      {{{avatar}}}
    </div>
    {{! avatar }}
    <div class="card profile__navigation">
      {{{editProfile}}}
      {{{changePassword}}}
      {{{signout}}}
    </div>
  </div>
  <div class="card profile">
    <div class="profile__row">
      <div class="profile__label">Email:</div>
      <div class="profile__value">
        {{#if user.data.email}}
          {{user.data.email}}
        {{else}}
          <span>null</span>
        {{/if}}
      </div>
    </div>
    {{! email }}
    <div class="profile__row">
      <div class="profile__label">Login:</div>
      <div class="profile__value">
        {{#if user.data.login}}
          {{user.data.login}}
        {{else}}
          <span class="null">null</span>
        {{/if}}
      </div>
    </div>
    {{! login }}

    <div class="profile__row">
      <div class="profile__label">First name:</div>
      <div class="profile__value">
        {{#if user.data.first_name}}
          {{user.data.first_name}}
        {{else}}
          <span class="null">null</span>
        {{/if}}
      </div>
    </div>
    {{! firstname }}

    <div class="profile__row">
      <div class="profile__label">Second name:</div>
      <div class="profile__value">
        {{#if user.data.second_name}}
          {{user.data.second_name}}
        {{else}}
          <span class="null">null</span>
        {{/if}}
      </div>
    </div>
    {{! secondname }}

    <div class="profile__row">
      <div class="profile__label">Display name:</div>
      <div class="profile__value">
        {{#if user.data.display_name}}
          {{user.data.display_name}}
        {{else}}
          <span class="null">null</span>
        {{/if}}
      </div>
    </div>

    {{! displayname }}
    <div class="profile__row">
      <div class="profile__label">Phone:</div>
      <div class="profile__value">
        {{#if user.data.phone}}
          {{user.data.phone}}
        {{else}}
          <span class="null">null</span>
        {{/if}}
      </div>
    </div>
    {{! phone }}
  </div>
</main>
