<main class="wrapper wrapper-profile">
  <div class="profile-left">
    <div class="card">
      <a
        href="/"
        class="link">back</a>
    </div>
    {{!-- back --}}
    <div class="card card-avatar">
      <div class="profile-avatar"></div>
    </div>
    {{!-- avatar --}}

  </div>
  {{{form}}}
  {{!-- <form class="card profile">
    {{{inputOldPassword}}}
    {{{inputNewPassword}}}
    {{{inputNewPasswordRepeat}}}
    {{{buttonSubmit}}}
  </form> --}}
</main>
